<article>
    <!-- <div class="form-background"> -->
        <div class="form-body">
            <h3>Add Outing</h3>
            <form [formGroup]="outingForm" (onSubmit)="this.onSubmit()">
                <div>
                    <mat-form-field class="example-full-width">
                        <input matInput formControlName="username" placeholder="Your Name">
                        <mat-error *ngIf="outingForm.get('username')?.hasError('required')">
                            Name is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width">
                        <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Date" [max]="maxDate">
                        <mat-datepicker-toggle matSuffix [for]="picker">
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="outingForm.get('date')?.hasError('required')">
                            Date is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field style="margin-left: 100px; width: 20%;">
                        <input matInput [matTimepicker]="starttimepicker" formControlName="startTime" placeholder="Start Time">
                        <mat-timepicker-toggle matIconSuffix [for]="starttimepicker"/>
                        <mat-timepicker interval="30m" #starttimepicker/>
                    </mat-form-field> 
                    <mat-form-field style="margin-left: 100px; width: 20%;">
                        <input matInput [matTimepicker]="endtimepicker" formControlName="endTime" placeholder="End Time">
                        <mat-timepicker-toggle matIconSuffix [for]="endtimepicker"/>
                        <mat-timepicker interval="30m" #endtimepicker/>
                        <!-- TODO: Show error message here -->
                        <!-- <mat-error *ngIf="outingForm.errors?.invalidTimeRange">
                            Date is required
                        </mat-error> -->
                    </mat-form-field> 
                </div>
                <div>
                    <mat-form-field class="example-full-width" style="width: 90%;">
                        <textarea matInput placeholder="Notes" maxlength="500" formControlName="notes" rows="3" style="resize: none;"></textarea>
                        <mat-hint>{{ outingForm.get('notes')?.value?.length || 0 }}/500</mat-hint>
                    </mat-form-field>
                </div>
                <br/>
                <div class="d-flex">
                    <div>
                        <h4>Catches</h4>
                        <p style="font-style: italic; font-size: 12px; margin-top: -7px;">Include up to 10 catches</p>
                    </div>
                    <div style="margin-left: 20px;">
                        <button mat-icon-button style="color: white; background-color: rgb(30, 212, 151); display: flex; align-items: center;
                         justify-content: center;" (click)="this.addCatchToOutingForm()" [hidden]="catchesToAdd.length == 10">+</button>
                    </div>
                </div>
                <div style="max-height: 30vh; overflow-y: auto; border: 1px solid #ccc; padding: 10px; border-radius: 5px;">
                    <ul class="list-group">
                        <div *ngFor="let cat of this.catchesToAdd; let i = index">
                            <add-catch-bar [currCatch]="catchesToAdd[catchesToAdd.indexOf(cat)]" (currCatchChange)="updateCatchDto($event, i)" (catchFileChange)="updateCatchImage($event, i)"  [removeCatch]="removeCatchFromOutingForm" [indexInList]="catchesToAdd.indexOf(cat)" ></add-catch-bar>
                        </div>
                    </ul>
                </div>
                <div style="display: flex; align-items: center; gap: 30px; margin-top: 10px;">
                    <button class="btn btn-primary" [disabled]="outingForm.invalid" 
                        [ngStyle]="{ 'background-color': outingForm.invalid ? '#d3d3d3' : '#007bff', 
                                     'border-color': outingForm.invalid ? '#d3d3d3' : '#007bff', 
                                     'color': outingForm.invalid ? '#6c757d' : 'white' }" 
                        (click)="this.onSubmit()">Submit</button>
                    <button class="btn btn-primary" style="background-color: grey; border-color: grey;" (click)="this.onCancel()">Cancel</button>
                </div>
            </form>
        </div>
    <!-- </div>   -->
</article>