/* You can add global styles to this file, and also import other style files */
body { 
    /* I added this so the body will actually take up the whole screen, 
        but it's unnecessary atm.*/
    min-height: 100vh;
}

/* Ensures all popups are centered bc idk where else to put this css*/
.leaflet-popup-content-wrapper .leaflet-popup-content {
    img {
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
    }

    button {
        display:block;
        margin-left: auto;
        margin-right: auto;
    }
}