.map-container {
    position: absolute;
    top: 65px;
    right: 10px;
    bottom: 0px;
    margin: 30px;
    width:60%;
}
  
.map-frame {
    border: 2px solid black;
    border-radius: 10px;
    height: 100%;
}
  
#map {
    height: 100%;
    border-radius: 10px;
}