.map-container {
    position: absolute;
<<<<<<< HEAD
    top: 80px;
=======
    top: 0px;
>>>>>>> ff5dd1528a9c831aa9fde1d2b9f976eae29597e9
    left: 0;
    right: 0;
    bottom: 0px;
    margin: 30px;
  }
  
  .map-frame {
    border: 2px solid black;
    height: 100%;
  }
  
  #map {
    height: 100%;
  }
    