.map-container {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0px;
    margin: 30px;
    transition: all 0.3s ease;
  }
  
.map-frame {
    border: 2px solid black;
    height: 100%;
}
  
#map {
    height: 100%;
}