<div class="scroller-container">
  <button *ngIf="imageUrls.length > 1" [ngStyle]="{'font-size': arrowSize}" (click)="prevImage()">&#8592;</button>

  <div class="viewer d-flex flex-column align-items-center justify-content-center gap-2 position-relative" [ngStyle]="{'width': viewWidth, 'height': viewHeight}">
    <img [src]="imageUrls[currentIndex]" (click)="showFullImage(imageUrls[currentIndex])" onmouseover="this.style.cursor='pointer'" alt="Photo" class="photo" *ngIf="imageUrls.length > 0" />
    <p *ngIf="imageUrls.length !== 0" style="position: absolute; bottom: 8px; left: 50%; transform: translateX(-50%); margin: 0;">
      {{ currentIndex + 1 }}/{{ imageUrls.length }}
    </p>
    <span *ngIf="imageUrls.length === 0">No image</span>
  </div>

  <button *ngIf="imageUrls.length > 1" [ngStyle]="{'font-size': arrowSize}" (click)="nextImage()">&#8594;</button>
</div>

<image-viewer></image-viewer>
