<div class="scroller-container">
  <button *ngIf="imageUrls.length > 1" [ngStyle]="{'font-size': arrowSize}" (click)="prevImage()">&#8592;</button>

  <div class="viewer" [ngStyle]="{'width': viewWidth, 'height': viewHeight}">
    <img [src]="imageUrls[currentIndex]" alt="Photo" class="photo" *ngIf="imageUrls.length > 0" />
    <span *ngIf="imageUrls.length === 0">No image</span>
  </div>

  <button *ngIf="imageUrls.length > 1" [ngStyle]="{'font-size': arrowSize}" (click)="nextImage()">&#8594;</button>
</div>
