.add-location-page {
    padding:10px;
    background-color: #F2D1C9;
    min-height:100vh;
}

.add-location-form {
    background-color: #BAD1CD;
    padding:10px;
    width:30%;
    border-radius: 10px;
}