<button *ngIf="displaySidebarUi"
  class="btn btn-primary position-fixed top-0 end-0 m-3 toggle-button"
  (click)="toggleSidebar()">
  ☰
</button>

<div *ngIf="displaySidebarUi"
  class="sidebar bg-light position-fixed top-0 end-0 h-100 border-start shadow"
  [ngClass]="{'translate-end': !isSidebarOpen, 'translate-none': isSidebarOpen}"
>
  <div class="sidebar-container p-3">
    <h1>Hot Catches</h1>
    <div class="sidebar-content overflow-scroll-y">
      <div class="card-grid">
        <div class="card" *ngFor="let catch of catches">
          <div class="species-name">
            <h3>{{catch.species}}</h3>
          </div>
          <div class="catch-measurements">
              Length: {{catch.catchLength}} Weight: {{catch.catchWeight}}
          </div>
          <img [src]="imageMap[catch.catchId!]" class="img-fluid rounded" alt="Image" />
          <div class="likes">
            <!--TODO: add onclick animation to like button-->
            <img class='like-button' src="../../../assets/hearticon.png" 
              onmouseover="this.style.cursor='pointer'"/>
            <div class="likes-count">{{catch.likes}} likes</div>
          </div>
          <div class="catch-description scroll-shadows">
            <p>THIS IS A DESCRIPTION. THIS IS A REALLY LONG DESCRIPTION. IT KEEPS GOING AND GOING AND GOING AND GOING AND GOING AND GOING AND GOING AND GOING AND GOING AND GOING AND GOING AND GOING AND GOING AND GOING AND GOING AND GOING AND GOING AND GOING AND GOING AND GOING</p>
          </div>
            <div class="spacer"></div> <!-- Pushes everything below down -->
          <div class="catch-date">{{getFormattedDate(catch.createdAt)}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
