.btn {
  background-color: #4f5450;
  border-color: #4f5450;
}

.sidebar {
  width: 40%;
  transition: transform 0.3s ease;
  z-index: 1040; /* Above main content */
  max-height: 100vh;
  overflow-y: auto;
}

h1 {
  color:white;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: left;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 1 calc(50% - 20px);
  box-sizing: border-box;
  height: 100%;
  max-height: 350px;
  min-height: 350px;
  padding: 10px;
  background-color: #74e2d6;
  align-items: center; /* Center content horizontally */
  justify-content: space-between; /* Distribute content evenly */
}

.card img {
  object-fit: cover; /* Ensure images fill the space without distortion */
  width: 100%; /* Make images take up full width of the card */
  height: 200px; /* Set a fixed height for consistency */
  margin-bottom: 5px;
}

img {
  #your-img {
    height: auto; 
    width: auto; 
    max-width: 210px; 
    max-height: 220px;
  }
}

/* .catch-img {
  max-height: 210px;
  max-width: 180px;
  align-self: center;
} */

.sidebar-container {
  background-color: #1E2019;
}

.sidebar-content {
  overflow-x:hidden;
  .row {
    align-self:center;
  }
}

/* Slide out to the right (hidden) */
.translate-end {
  transform: translateX(100%);
}

/* Slide in (visible) */
.translate-none {
  transform: translateX(0);
}

.toggle-button {
  z-index: 1050; /* Higher than sidebar */
}

.species-name {
  text-align: left;
}

.catch-measurements {
  text-align: center;
  margin-bottom:5px;
}

.likes {
  display:flex;
  flex-direction: row;
  margin-top:10px;
  margin-bottom: none;
  height:max-content;

  .like-button {
    width:20px;
    height:20px;
  }

  .likes-count {
    padding-left:5px;
  }
}

.catch-description {
  min-height:10%;
  max-height:20%;
  overflow-y:scroll;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  -webkit-scrollbar {
    display: none;
  }
}

.spacer {
  flex-grow: 1;
}

.catch-date {
  color:#616060;
  
  display: flex;
  justify-content: flex-end;  /* Align text to the right */
  align-items: flex-end;      /* Align text to the bottom */
  height: 100%;              /* Or any size you need */
}

/* Cool CSS config I found online */
.scroll-shadows {
  max-height: 200px;
  overflow: auto;

  background:
    /* Shadow TOP */
    radial-gradient(
      farthest-side at 50% 0,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ) center top,
    
    /* Shadow BOTTOM */
    radial-gradient(
      farthest-side at 50% 100%,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ) center bottom;
  
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}
