<button *ngIf="displaySidebarUi"
  class="btn btn-primary position-fixed top-0 end-0 m-3 toggle-button"
  (click)="toggleSidebar()">
  ☰
</button>

<div *ngIf="displaySidebarUi"
  class="sidebar bg-light position-fixed top-0 end-0 h-100 border-start shadow"
  [ngClass]="{'translate-end': !isSidebarOpen, 'translate-none': isSidebarOpen}"
>
  <div class="sidebar-container p-3">
    <h1>Hot Catches</h1>
    <div class="sidebar-content overflow-scroll-y">
      <div class="card-grid">
        <div class="card" *ngFor="let catch of catches">
          <div class="species-name">
            <h5>{{catch.species}}</h5>
          </div>
          <img [src]="imageMap[catch.catchId!]" class="img-fluid rounded catch-img" alt="Image" />
          <div *ngIf="catch.catchLength !== 0 && catch.catchWeight !== 0" class="catch-measurements">
            Length: {{catch.catchLength}} Weight: {{catch.catchWeight}}
          </div>
          <div class="catch-description scroll-shadows">
            <p>THIS IS A DESCRIPTION. THIS IS A REALLY LONG DESCRIPTION. IT KEEPS GOING AND GOING AND GOING AND GOING AND GOING AND GOING AND GOING AND GOING AND GOING AND GOING AND GOING AND GOING AND GOING AND GOING AND GOING AND GOING AND GOING AND GOING AND GOING AND GOING</p>
          </div>
          <div class="spacer"></div> <!-- Pushes everything below down -->
            <div class="d-flex align-items-center justify-content-between" style="gap: 10px;">
            <div class="likes">
              <img class='like-button' name="unclicked" src="../../../assets/hearticon.png" 
                onmouseover="this.style.cursor='pointer'"
                (click)="likeClicked(catch)"
                [id]="'like-button' + catch.catchId"/>
              <div class="likes-count" [id]="'likes-count' + catch.catchId">{{catch.likes}} likes</div>
            </div>
            <div class="catch-date" style="margin-top: 10px;">{{getFormattedDate(catch.createdAt)}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
